langchain
langchain-core
langchain-community
langgraph
python-dotenv
ipykernel
fastapi[standard]
pypdf
pinecone>=6.0.0
langchain-pinecone>=0.2.0
requests
huggingface-hub
langchain-ollama
langchain-huggingface